<div class="container">
    <div class="row">
      <div class="col-12">
        <br>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Listagem de Projetos</h5>
            <br>
            <div class="row">
              <div class="col-6">
  
                <div class="input-group">
                  <input (keyup.enter)="findByTitulo()" [(ngModel)]="pesquisa" type="text" class="form-control" placeholder="Parte do título..."
                    aria-label="Recipient's username with two button addons" />
                  <button (click)="findByTitulo()" class="btn-rounded btn btn-outline-primary" type="button" mdbRipple rippleColor="danger" >
                    Pesquisar
                  </button>
                  <button (click)="findAll()" class="btn-rounded btn btn-outline-primary" type="button" mdbRipple rippleColor="danger" >
                    Todos
                  </button>
                </div>
  
              </div>
              <div class="col-6">
  
                <div class="alinharDireita">
                  <a (click)="novo()" class="btn-rounded btn btn-primary">Novo</a>
                 <!-- <a href="admin/livros/new" class="btn-rounded btn btn-primary">Novo</a> comentada -->
                </div>
              </div>
            </div>
           
            <br>

            <table class="table table-striped" border="1" width="400px">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Data de Inicio</th>
                  <th>Orcamento</th>
                  <th>Descrição</th>
                  <th>Status</th>
                  <th>Risco</th>
                </tr>
              </thead>
              <tbody>
                @for (projeto of lista; track $index) {
                <tr>
                  <td>{{ projeto.nameProject }}</td>
                  <td>{{ projeto.startDate }}</td>
                  <td>{{ projeto.budget }}</td>
                  <td>{{ projeto.description }}</td>
                  <td>{{ obterStatusPorValorHtml(projeto.status) }}</td>
                  <td>{{ obterRiscoPorValorHtml(projeto.riskProject) }}</td>
  
                  <td class="alinharDireita">
                    <a class="btn-rounded btn btn-primary me-2" (click)="info(projeto)">Detalhes</a>
                    <a class="btn-rounded btn btn-primary me-2" (click)="editar(projeto)">Editar</a>
                    <a class="btn-rounded btn btn-danger" (click)="deleteById(projeto)">Deletar</a>
                  </td>
                </tr>
                }
              </tbody>
            </table>
  
            <h5 class="card-title">Exibindo {{lista.length}} projetos</h5>
  
  
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <ng-template #modalProjectsDetails>
  
    <div class="modal-header bg-primary text-white">
    
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modalRef.close()"
      ></button>
    </div>
    <div class="modal-body">
      
      <app-projectdetails [project]="projectEdit" (retorno)="retornoForm($event)"></app-projectdetails>
  
    </div>
    
  
  </ng-template>

  <ng-template #modalProjecteUpdate>
  
    <div class="modal-header bg-primary text-white">
    
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modalRef.close()"
      ></button>
    </div>
    <div class="modal-body">
      
      <app-projectupdate [project]="projectEdit" (retorno)="retornoForm($event)"></app-projectupdate>
  
    </div>
    
  
  </ng-template>
  <ng-template #modalprojectinfo>
  
    <div class="modal-header bg-primary text-white">
    
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modalRef.close()"
      ></button>
    </div>
    <div class="modal-body">
      
      <app-projectinfo [project]="projectEdit" (retorno)="retornoForm($event)"></app-projectinfo>
  
    </div>
    
  
  </ng-template>